.cartitem {
  width: 100%;
  padding: 1rem;
  display: grid;
  margin-bottom: 8px;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  background: #fff;
  border-radius: 2px;
  place-items: center;
}
.cartitem_name {
  text-decoration: none;
  color: #171717;
}
.cartitem_name:hover {
  color: #706583;
}
.cartitem_select {
  padding: 0.6rem 1rem;
  margin: 0.5rem 0;
}
.cartitem_dltbtn {
  padding: 10px 17px;
  color: red;
  background-color: #fff;
  border: 1px solid #171717;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.cartitem_dltbtn:hover,
.cartitem_dltbtn:focus,
.cartitem_dltbtn:active {
  background: #171717;
  transform: scale(1.2);
}

@media (max-widh: 750px) {
  .cartitem_name {
    font-size: 0.8rem;
  }
  .cartitem_select,
  .cartitem_dltbtn {
    padding: 8px 13px;
  }
  .cartitem_price {
    font-size: 0.8rem;
  }
}
@media (max-widh: 550px) {
  .cartitem_name {
    font-size: 0.6rem;
  }
  .cartitem_select,
  .cartitem_dltbtn {
    padding: 5px 8px;
  }
  .cartitem_price {
    font-size: 0.6rem;
  }
}
